SERVER_PORT=8080
SERVER_HOST=0.0.0.0
POSTGRES_PASSWORD=change-me
DATABASE_PORT=5432:5432
DATABASE_URL=postgres://dashboard_app:${POSTGRES_PASSWORD}@localhost:5432/dashboard
RUST_LOG=info
SECRET=secret-here
