SERVER_PORT=8080
SERVER_HOST=0.0.0.0
POSTGRES_PASSWORD=change-me
DATABASE_PORT=5432
DATABASE_URL=postgres://dashboard:${POSTGRES_PASSWORD}@localhost:${DATABASE_PORT}/dashboard
RUST_LOG=info
SECRET=secret-here
SOUNDCLOUD_CLIENT_ID=soundcloud-id
SOUNDCLOUD_CLIENT_SECRET=soundcloud-secret